# SEED post onboarding steps


Following the SEED onboarding, complete the post onboarding steps. 

?> Starting from 1st October 2023, GCC 1.0 no longer requires GlobalProtect VPN for access. To connect, disconnect from GlobalProtect VPN and enable your Cloudflare WARP connection.

- Post onboarding instructions for macOS
  - [Post onboarding instructions for macOS 11(Big Sur) and 12 (Monterey)](post-onboarding-instructions/mac-os.md)
  - [Post onboarding instructions for macOS 13(Ventura)](post-onboarding-instructions/mac-os-13)
- [Post onboarding instructions for Windows](post-onboarding-instructions/windows.md)  
