# SEED post onboarding instructions and verification steps

When you onboard your device to SEED it becomes a Government Managed Device (GMD).

Following the SEED onboarding, complete the post onboarding steps. If you are a GCC 1.0 user, make sure to complete the verification steps.

- [Post onboarding instructions for macOS](post-onboarding-instructions/mac-os)
- [Post onboarding instructions for Windows](post-onboarding-instructions/windows)
- [Post onboarding verification steps for GCC 1.0 users](post-onboarding-instructions/gcc-1.0-users)
