# SEED post onboarding instructions and verification steps


> **Things to note before you proceed with the post-onboarding steps**:
>
>- When you onboard your device to SEED it becomes a Government Managed Device (GMD) and you are notified about your successful onboarding.
>- If you do not receive the successfully onboarded to SEED email, [check if Microsoft Defender is configured correctly](verify-microsoft-defender-is-configured-correctly-for-your-os) and also check if Tanium and Cloudflare are installed. If Tanium or Cloudflare is not installed, [create a support request](raise-an-incident-support-request).
>- Shortly after this email, you will receive a desktop notification informing you that your device has been renamed and will automatically restart in the next five minutes. When you log in again, you will be prompted to reset your password. This is to enforce a strong password policy.
>- If you had reset your password while onboarding, you will not be prompted to reset password when your device automatically restarts.
>- When you onboard your internet device to SEED, an MDM certificate is assigned to this device and this is valid for a year from the day of your successful onboarding. For more information about this and the device cleanup policy, see our [Device cleanup policy](device-cleanup-policy) article.
>- Refer to [Best practices](additional-resources/best-practices) to know about the supported browsers.

Following the SEED onboarding, complete the post onboarding steps. If you are a GCC 1.0 user, make sure to complete the verification steps.

- Post onboarding instructions for macOS
  - [Post onboarding instructions for macOS 11(Big Sur) and 12 (Monterey)](post-onboarding-instructions/mac-os)
  - [Post onboarding instructions for macOS 13(Ventura)](post-onboarding-instructions/mac-os-13)
- [Post onboarding instructions for Windows](post-onboarding-instructions/windows)
- [Post onboarding verification steps for GCC 1.0 users](post-onboarding-instructions/gcc-1.0-users)
