!> This documentation has moved. Refer to [macOS 14 and 13 post onboarding guide](post-onboarding-instructions/macos-latest) and [Windows post onboarding guide](post-onboarding-instructions/windows).
