# SEED post onboarding steps


Following the SEED onboarding, complete the post onboarding steps. 

?> If you are a GCC 1.0 user, make sure to complete your [post onboarding verification steps](post-onboarding-instructions/gcc-1.0-users).

- Post onboarding instructions for macOS
  - [Post onboarding instructions for macOS 11(Big Sur) and 12 (Monterey)](post-onboarding-instructions/mac-os.md)
  - [Post onboarding instructions for macOS 13(Ventura)](post-onboarding-instructions/mac-os-13)
- [Post onboarding instructions for Windows](post-onboarding-instructions/windows.md)  
- [Post onboarding verification steps for GCC 1.0 users](post-onboarding-instructions/gcc-1.0-users)
